# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/

# Runtime data
pi/var/

# Node
node_modules/
dist/
dist-ssr/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
